.user:first-of-type {
    margin-top: 20px;
}
.user:not(:last-of-type) {
    margin-bottom: 10px;
}
.user {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3a4156;

}

.avatar {
    height: 50px;
    margin: 0px 15px 0 0;
}

.name {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
}