.default, .disabled {
    background-color: #1C8ADB;
    border-radius: 15px;
    font-size: 14px;
    border-width: 0;
    height: 40px;
    font-weight: 500;
    line-height: 20px;
    padding: 7px 20px;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(19, 91, 145, 0.62);
}
.disabled {
    background-color: rgba(201, 201, 201, 0.34);
    color: #151922;
    box-shadow: 0 0 10px 2px rgba(201, 201, 201, 0.34);
}
