.message {
    margin: 80px 0 0 0;
}
.textarea {
    margin: 0 30px 0 0;
    height: 40px;
    width: 400px;
    border: 2px solid #6B7AA1;
    border-radius: 10px;
}
.buttonSend {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #cfd8f8;
}