.user:first-of-type {
    margin-top: 20px;
}

.user:not(:last-of-type) {
    margin-bottom: 20px;
}

.user {
    display: flex;
    align-items: center;
    min-width: 200px;
}

.user__avatar {
    margin-right: 15px;
}

.user__avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.name {
    font-weight: 500;
    text-decoration: none;
    color: #3a4156;
}
