.paginator__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;

  .paginator__btn_left, .paginator__btn_right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0);

    img {
      width: 20px;
      height: 20px;
      background-color: rgba(255, 255, 255, 0);
    }
  }

  .paginator__btn_left {
    left: -30px;
  }

  .paginator__btn_right {
    right: -30px;
  }

  .paginator {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 91, 145, 0.14);
    color: #135B91;
    font-size: 18px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;

    & > *:not(:last-of-type) {
      margin-right: 5px;
    }
  }

  .selectedPage {
    font-weight: 700;
  }
}
