.body,
.body__users {
    display: flex;
}

.body {
    flex-direction: column;
    max-width: 630px;
}
.users {
    border-right: 1px solid rgba(10, 84, 227, 0.37);
}

.messages {
    margin-left: 30px;
}
.sendText {
    flex: 0 0 80%;
}
