* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active, :hover {
  outline: none;
}

a, a:visited, a:focus, a:active, a:hover {
  outline: none;
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
.App {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.right {
  flex: 0 1 15%;
}