.input__block {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.input, .error__input {
    padding: 0 10px;
    border-width: 0;
    min-width: 100%;
    height: 50px;
    color: #3a4156;
}

.error__input {
    border: 1px solid darkred;
    border-radius: 20px;
}

.error__block {
    position: relative;
    display: inline-flex;
}
.error__block::after {
    position: absolute;
    content: "more symbols is requiered";
    color: darkred;
    font-size: 10px;
    top: -40px;
    right: -100%;
    width: 200px;
}

