.message, .user, .time {
    display: flex;
}

.message {
    align-items: end;
    margin-bottom: 30px;
}

.ava__block {
    margin-right: 10px;
}

.ava__block img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.angle {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at left top, rgba(0, 0, 0, 0) 20px, rgba(224, 223, 223, 0.42) 0);
}

.user {
    flex-direction: column;
    padding: 20px 0 10px 20px;
    min-width: 200px;
    background-color: rgba(221, 234, 245, 0.42);
    border-radius: 10px 10px 10px 0;
}

.name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
    margin-bottom: 5px;
    color: #5b5b5b;
}

.time {
    justify-content: flex-end;
    margin-right: 10px;
    opacity: .9;
    font-size: 12px;
    color: #666;
}
