@import "./src/03_commons/classes/variables";

.center {
    min-height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    & > *:not(:last-child) {
        margin-bottom: 20px;
    }
}
.post, .post__dark,
.center__block, .center__block_dark, .center__block_preloader, .center__block_preloader_dark {
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.center__block_preloader, .center__block_preloader_dark {
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.post, .center__block, .center__block_preloader {
    box-shadow: $boxShadowVariable;
}
.post__dark, .center__block_dark, .center__block_preloader_dark {
    background-color: $darkBackgroundColor;
    box-shadow: $boxShadowDarkVariable;
}
.post, .post__dark {
    margin-bottom: 20px;
}
